<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<style>
    .layui-form-item .layui-input-company {
        width: auto;
        padding-right: 10px;
        line-height: 38px;
    }
</style>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">登录账号</label>
                <div class="layui-input-block">
                    <input type="text" name="loginName" id="loginName" disabled="disabled"
                           lay-verify="required|loginName" lay-reqtext="登录账号不能为空" placeholder="请输入登录账号"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">手机号码</label>
                <div class="layui-input-block">
                    <input type="number" name="phone" id="phone" lay-verify="required|phone" lay-reqtext="手机号码不能为空"
                           placeholder="请输入手机号码" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="email" name="email" id="email" placeholder="请输入邮箱" value="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'miniPage'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            miniPage = layui.miniPage;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        // 获取当前登录员工的信息
        $.ajax({
            url: '/api/v1/employee/currentLoginEmployee',
            method: 'get',
            success: function (res) {
                if (res.status === '200') {
                    $("#loginName").val(res.data.loginName)
                    $("#phone").val(res.data.phone)
                    $("#email").val(res.data.email)
                } else {
                    layer.msg(res.message, {time: 5000, icon: 2, offset: '60px'})
                }
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: '/api/v1/employee/saveUserInfo',
                method: 'post',
                data: JSON.stringify(data.field),
                contentType: "application/json",
                success: function (res) {
                    if (res.status === '200') {
                        layer.msg("保存成功", {time: 500, icon: 1, offset: '60px'})
                    } else {
                        layer.msg(res.message, {time: 5000, icon: 2, offset: '60px'})
                    }
                }
            });

            return false;
        });

        //自定义验证规则
        form.verify({
            loginName: [
                /^[\S]+$/
                , '登录账号不能出现空格'
            ]
        });

    });
</script>
</body>
</html>